﻿@model IEnumerable<CarStatistica.Models.Car>

@{
    ViewData["Title"] = "Lista samochodów";
}


@if (@Model.Any())
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartMileage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActualMileage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastEdit)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartMileage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActualMileage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastEdit)
                    </td>
                    <td>
                        @Html.ActionLink("Usuń", "Delete", new { id = item.Id }) | 
                        @Html.ActionLink("Koszty", "Index","Cost", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <span>Brak samochodów. <a asp-action="Add">Dodaj pierwszy samochód</a></span>
}