@inject SignInManager<User> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Zarządzaj
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" asp-controller="Car" asp-action="Index">Wyświetl samochody</a>
        <a class="dropdown-item" asp-controller="Car" asp-action="Add">Dodaj samochód</a>
    </div>
}